{% extends "base_public.html" %}
{% block title %}Services | Shalom Primary Hospital{% endblock %}

{% block content %}
<h2 class="fw-bold mb-4">Our Services</h2>

<ul class="list-group list-group-flush">
    <li class="list-group-item">Outpatient & Inpatient Care</li>
    <li class="list-group-item">Internal Medicine</li>
    <li class="list-group-item">Surgery</li>
    <li class="list-group-item">Maternal & Child Health</li>
    <li class="list-group-item">Pharmacy Services</li>
    <li class="list-group-item">Laboratory & Diagnostics</li>
</ul>
{% endblock %}
