<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
<h1>Admin Dashboard</h1>

<h2>Management Sections</h2>
<ul>
    <li><a href="{% url 'patient_list' %}">Manage Patients</a></li>
    <li><a href="{% url 'doctor_list' %}">Manage Doctors</a></li>
    <li>
        Staff
        <ul>
            <li><a href="{% url 'staff_list' staff_type='receptionist' %}">Receptionists</a></li>
            <li><a href="{% url 'staff_list' staff_type='pharmacist' %}">Pharmacists</a></li>
            <li><a href="{% url 'staff_list' staff_type='nurse' %}">Nurses</a></li>
            <li><a href="{% url 'staff_list' staff_type='technician' %}">Technicians</a></li>
        </ul>
    </li>
    <li><a href="{% url 'appointment_list' %}">Manage Appointments</a></li>
    <li><a href="{% url 'pharmacy_dashboard' %}">Pharmacy Dashboard</a></li>
</ul>

<br>
<a href="{% url 'logout' %}">Logout</a>
</body>
</html>
