<h1>Staff List</h1>

<a href="{% url 'add_staff' %}">Add Staff</a>

<table border="1">
    <tr>
        <th>Username</th>
        <th>Role</th>
        <th>Phone</th>
        <th>Actions</th>
    </tr>
    {% for s in staff %}
    <tr>
        <td>{{ s.user.username }}</td>
        <td>{{ s.role }}</td>
        <td>{{ s.phone }}</td>
        <td>
            <a href="{% url 'edit_staff' s.user.id %}">Edit</a>
            <a href="{% url 'delete_staff' s.user.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
